<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

	function preSave(){
		var title = $('#title').val();
		var startDate = $('#startDate').val();
		var endDate = $('#endDate').val();
		
		if(title == ""){
			alert("title 입력");
		}else if(startDate == ""){
			alert("시작날짜 입력");
		}else if(endDate == ""){
			alert("종료날짜 입력");
		}else{
			var startDate = $('#startDate').val();
			var startTime = $('#startTime').val();
			var endDate = $('#endDate').val();
			var endTime = $('#endTime').val();
			
			if(startTime == ""){
				$('#startDt').val(startDate + "T00:00")
			}else{
				$('#startDt').val(startDate + "T" + startTime);
			}
			
			if(endTime == ""){
				$('#endDt').val(endDate + "T00:00")
			}else{
				$('#endDt').val(endDate + "T" + endTime);
			}
			
			return true;
		}
	};
	
	function save(){
		if(preSave()){
			$.ajax({
				anyne:true,
				url : "/calendar/addCalendar",
				type : "post",
			 	data : {
			 		title : $('#title').val(),
			 		detail : $('#detail').val(),
			 		startDt : $('#startDt').val(),
			 		endDt : $('#endDt').val(),
			 	}, 
			 	contentType : "application/x-www-form-urlencoded; charset=utf-8",
				dataType : "json",
			 	beforeSend : function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success : function(res){
					if(res == 1){debugger;
						alert("일정등록성공");
						parent.location.reload();
						window.close();
					}else{
						alert("일정등록실패")
						parent.location.reload();
						window.close();
					}
				}
			});

		}
	}
	
	function form_submit(){
		//window.close();
	}
	
	window.onload = function(){
		debugger;
	}
</script>
<body>
<form>
	<input type="text" id="title" name="title">
	<input type="text" id="detail" name="detail">
 	<input type="date" id="startDate" name="startDate" th:value="${startDt}">
	<input type="time" id="startTime" name="startTime">
	<input type="hidden" id="startDt" name="startDt">
	<input type="date" id="endDate" name="endDate">
	<input type="time" id="endTime" name="endTime">
	<input type="hidden" id="endDt" name="endDt">
	
	<button type="button" onclick="save()">등록하기</button>
	<button type="button" onclick="update()">수정하기</button>
	<button type="button" onclick="delete_()">삭제하기</button>
</form>
</body>
</html>