<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	function preSave(){
		var title = $('#title').val();
		var startDt = $('#startDate').val();
		var endDt = $('#endDate').val();
		
		if(title == ""){
			alert("title 입력");
			return false;
		}else if(startDt == ""){
			alert("시작날짜 입력");
			return false;
		}else if(endDt == ""){
			alert("종료날짜 입력");
			return false;
		}else{
			return true;
		}
	};
	
	function save(){
		if(preSave()){
			var startDate = $('#startDate').val();
			var startTime = $('#startTime').val();
			var endDate = $('#endDate').val();
			var endTime = $('#endTime').val();
			
			if(startTime == ""){
				$('#startDt').val(startDate + "T00:00")
			}else{
				$('#startDt').val(startDate + "T" + startTime);
			}
			
			if(endTime == ""){
				$('#endDt').val(endDate + "T00:00")
			}else{
				$('#endDt').val(endDate + "T" + endTime);
			}
			
			var form = document.addCalendarForm;
			form.submit();
		}
	}
</script>
<body>
<form th:action="@{/calendar/addCalendar}" method="post" name="addCalendarForm">
	<input type="text" id="title" name="title" value="title">
	<input type="text" id="detail" name="detail" value="detail">
 	<input type="date" id="startDate" name="startDate" th:value="${startDt}">
	<input type="time" id="startTime" name="startTime">
	<input type="hidden" id="startDt" name="startDt">
	<input type="date" id="endDate" name="endDate">
	<input type="time" id="endTime" name="endTime">
	<input type="hidden" id="endDt" name="endDt">
	<!-- <input type="datetime-local" id="startDt" name="startDt">
	<input type="datetime-local" id="endDt" name="endDt"> -->
	
	<button onclick="save()">등록하기</button>
	<button onclick="update()">수정하기</button>
	<button onclick="delete_()">삭제하기</button>
	
</form>
</body>
</html>