<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

	function preSave(){
		var title = $('#title').val();
		var startDate = $('#startDate').val();
		var endDate = $('#endDate').val();
		
		if(title == ""){
			alert("title 입력");
		}else if(startDate == ""){
			alert("시작날짜 입력");
		}else if(endDate == ""){
			alert("종료날짜 입력");
		}else{
			var startDate = $('#startDate').val();
			var startTime = $('#startTime').val();
			var endDate = $('#endDate').val();
			var endTime = $('#endTime').val();
			
			$('#startDt').val(startDate + "T" + startTime + ":00");
			$('#endDt').val(endDate + "T" + endTime + ":00");
			return true;
		}
	};
	
	function save(){
		if(preSave()){
			debugger;
			$.ajax({
				anyne:true,
				url : "/calendar/addCalendar",
				type : "post",
			 	data : {
			 		title : $('#title').val(),
			 		detail : $('#detail').val(),
			 		startDt : $('#startDt').val(),
			 		endDt : $('#endDt').val(),
			 	}, 
			 	contentType : "application/x-www-form-urlencoded; charset=utf-8",
				dataType : "json",
			 	beforeSend : function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success : function(res){
					if(res == 1){
						alert("일정등록성공");
						window.opener.reload(); 
						window.close();
					}else{
						alert("일정등록실패")
						window.opener.reload(); 
						window.close();
					}
				}
			});

		}
	}
	
	function cancel(){
		window.close();
	}
</script>
<body>
<form>
	<span>일정이름 : </span>
	<input type="text" id="title" name="title"><br>
	<span>일정내용 : </span>
	<input type="text" id="detail" name="detail"><br>
	<span>시작일 : </span>
 	<input type="date" id="startDate" name="startDate" th:value="${startDt}">
	<input type="time" id="startTime" name="startTime" value="12:00">
	<input type="hidden" id="startDt" name="startDt"><br>
	<span>종료일 : </span>
	<input type="date" id="endDate" name="endDate">
	<input type="time" id="endTime" name="endTime" value="12:00">
	<input type="hidden" id="endDt" name="endDt"><br>
	<button type="button" onclick="save()">등록하기</button>
	<button type="button" onclick="cancel()">닫기</button>
</form>
</body>
</html>