<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="container-fluid">
		<h1>Home Page</h1>
		<hr>
		<div>
		    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a> <!-- 익명의 사용자 -->
		    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a> <!-- 인증된 사용자 -->
		    <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
		    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/member/mem_info}">내정보</a> <!-- 특정 롤을 가진 사용자 -->
		    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/calendar/calendarMain}">캘린더</a> <!-- 특정 롤을 가진 사용자 -->
		    <a th:href="@{/board/boardList}">게시판</a>
		    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/admin_info}">관리자</a>
		 	
		</div>
		<div>
		    <a th:href="@{/member/mem_info}">내 정보</a>
		    <a th:href="@{/admin/admin_info}">관리자</a>
		</div>
	</div>
	</th:block>
</body>
</html>