<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2 th:text = "${text}"></h2><hr>
<form th:action="@{joinChk}" th:object="${member}" method="post">
	<h2>ID : </h2><input type="text" th:field = "*{id}" placeholder="id입력">
	<h2>password : </h2><input type="text" th:field = "*{password}" placeholder="pwd입력">
	<h2>NAME : </h2><input type="text" th:field = "*{name}" placeholder="name입력">
	<button type="submit"></button>
</form>
</body>
</html>